.form-container {
    max-width: 400px;
   
    margin: 0 auto 30px;
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
   
  }
  
  .form-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
  }
  
  .form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-container button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .form-container button:hover {
    background-color: #0056b3;
  }
  
  .form-container .error-message {
    color: red;
    margin-top: 5px;
  }
  .linktext {
    color: #2949c6;
   
  }
  
  

  